body {
    background-color: pink;
    margin: 0;
}


.intro-cat {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.border-button {
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    text-decoration: none;
    color: black;
}

.border-button:hover {
    text-decoration: underline;
}

.prev-button-container {
    position: fixed;
    left: 10px;
    top: 10px;
}

.next-button-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.navigate-button-image {
    width: 100px;
    height: 100px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.pink {
    color: pink;
}

.mt-5 {
    margin-top: 3rem !important;
}

.rounded-cat-image {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.rounded-cat-image-lg {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.w-50 {
    width: 50%;
}

.m-auto {
    margin: auto;
}

.justify-content-around {
    justify-content: space-around;
}

.text-left {
    text-align: left;
}

.w-20 {
    width: 20%;
}

.cats-container {
display: flex;
justify-content: space-around;
width: 100%;
}
    
.cats-container>div>div {
font-size: 20px;
font-weight: 700;
}
    
.cats-container>div.active {
border: 3px solid red;
 }